LenovoCommercialVantage_10.2305.30.0/LVSAddins/Addins/LenovoSystemUpdateAddin/1.0.7.52/UpdateTaskListSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="UpateTaskListInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UpdateStatusList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Item">
                <xs:complexType>
                  <xs:attribute name="PackageId" type="xs:string" use="required" />
                  <xs:attribute name="Status" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CachedInstallPercent" type="xs:unsignedByte" />
      </xs:sequence>
      <xs:attribute name="Stage" type="xs:string" use="required" />
      <xs:attribute name="CreateTime" type="xs:string" use="required" />
      <xs:attribute name="IsFirstTimeScheduler" type="xs:boolean" use="required" />
      <xs:attribute name="CheckNotifyFlag" type="xs:boolean" use="required" />
    </xs:complexType>
  </xs:element>
</xsd:schema>